[Unit]
Description=MQTT based HDMI-CEC controller for Home Assistant written in python

[Service]
# Command to execute when the service is started
ExecStart=/usr/bin/python3 /home/pi/mqtt-cec-appliance/stereo.py
Environment=PYTHONUNBUFFERED=1
StandardOutput=file:/home/pi/mqtt-cec-appliance/mqtt_cec.log
WorkingDirectory=/home/pi/mqtt-cec-appliance/
Restart=on-failure
[Install]
WantedBy=default.target